# Backend
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/storage/*.key
/backend/bootstrap/cache/*

# Frontend
/frontend/agric-onnect-web/node_modules/
/frontend/agric-onnect-web/dist/
/frontend/agric-onnect-web/.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/